body {
    font-family: Arial, sans-serif;
}

form {
    margin: auto; 
}

.signin-form {
    width: 500px;
}

.signup-form {
    width: 500px;
}

.delete-form {
    display: inline-block;
}

input[type=email], input[type=password], input[type=text], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.update-button {
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.edit-button{
    background-color: blue;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, sans-serif;
    
}

/* Style the search box inside the navigation bar */
.navbar input[type=text] {
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
    width: 100px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.view {
    display: block;
}

.profile {
    display: block;
}

.update-form {
    width: 500px; 
}

.user-profile {
    float: right;
}

.title {
    margin: auto;
    width: 1000px;
}

.view-profile {
    text-decoration: none;
    color: white;
    background-color: blue;
    border: 1px solid;
    padding: 12px 12px;
}

.padding {
    padding: 15px 15px;
}